@charset "UTF-8";

body {
    font-family: sans-serif;
    font-weight: 600;
}

p {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-left: 16px;
}

ul {
    padding: 10px;
    box-sizing: border-box;
}

ul li {
    display: flex;
    background: #91deff;
    border-radius: 16px;
    padding: 10px 20px;
    margin: 5px;
}
