

body {
    font-family: "Lato", sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div.form {
    font-family: "Merienda", cursive;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    width: 100%;
}

div.product {
    
    padding-left: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: #fff;
    align-items: center;
    border-radius: 16px;
}

input[type="text"],
input[type="number"],
input[type="submit"],
input[type="password"],
input[type="reset"]
{
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="delete"]:hover {
    background-color: #ff0000;
}


input[type="delete"]
{
    background-color: #be0000;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

input[type="submit"],
input[type="reset"]
{
    background-color: #164618;
    color: white;
    border: none;
    cursor: pointer;
}


button {
    padding: 10px;
    margin: 8px 0;
    width: flex;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="reset"]{
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}

h1 {
    padding-left: 16px;
}

p.null {
    padding-left: 16px;
}

